#top-header
  border-bottom 2px solid default-color
  background-color #fff 
  #primary-nav
    ul
      li
        &.current_page_item
          background-color default-color 
          color #FFF 
        a
          color default-color
          &:hover
            background-color #ddd 

#about-subscribe
  background-color content-color           
  h2
    color content-text-color

#headline
  background default-color
  h3
    color #FFF 
    font-size 1.5em


.blog-post
  .post-meta
    color #AAA
    h3
      a
        color #517E93