@import 'variables'
@import 'mixins'
@import 'areas/fonts'
@import 'areas/header'
@import 'areas/post'
@import 'areas/footer'
@import 'areas/buttons'

body  
  background-color #f8f8fa
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size 16px
  color #4B4B4B
  line-height 1.7em

/* Scroll to top */
#scroll-top 
  a  
    background #177c90
    i
      color #FFF
    &:hover
      background-color #20819a 
      i
        color: #FFF 