@import 'variables'
@import 'nib'
@import 'areas/fonts'
@import 'areas/header'
@import 'areas/post'
@import 'areas/footer'
@import 'areas/buttons'
@import 'areas/comments'

body
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size 16px
  color text-color
  line-height 1.7em
  background-color page-background-color

/* Scroll to top */
#scroll-top
  a
    background secondary-color
    i
      color #FFF
    &:hover
      background-color #20819a
      i
        color: #FFF

input[type="submit"]
  background-color input-default-color
  color #fff
  &:hover
    background-color input-secondary-color

.white-container
  background-color transparent
  border 0

#about-subscribe
  background-color transparent

#top-header #primary-nav ul li
  background-color input-default-color
  &:hover
    background-color input-secondary-color

.read-more
  background-color input-default-color
  &:hover
    background-color input-secondary-color

#comments .comment-form input[type="submit"]
  background-color input-default-color
  &:hover
    background-color input-secondary-color

#comments .comment .comment-meta
  background-color transparent
  border 0

.white-container blockquote
  background-color darken(page-background-color,25%)
  border-left 10px solid secondary-color

blockquote:before
  color secondary-color
