default-color = #7b694e
secondary-color = #DA9C1C
text-color = #AFAD9E
content-color = #AFAD9E
content-text-color = #AFAD9E
page-background-color = #1d343b
bg-top = '../images/bg_construir.png'

input-default-color = #6C892B
input-secondary-color = lighten(#6C892B,25%)
