h1,
h2,
h3,
h4 {
  color: #4b4b4b;
}
a {
  color: #6c6e71;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.35em;
}
#top-header {
  border-bottom: 2px solid #54c4cf;
  background-color: #fff;
}
#top-header #primary-nav ul li {
  background-color: #54c4cf;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  -ms-transition: 0.2s all;
  transition: 0.2s all;
}
#top-header #primary-nav ul li ul {
  display: none;
}
#top-header #primary-nav ul li a {
  color: #fff;
}
#top-header #primary-nav ul li:hover {
  background-color: #6c6e71;
}
#top-header #primary-nav ul li:hover ul {
  display: block;
  position: absolute;
  border-top: 1px solid #54c4cf;
}
#top-header #primary-nav ul li:hover ul li {
  display: block;
  text-align: left;
}
#about-subscribe {
  background-color: #fff;
}
#about-subscribe h2 {
  color: #4b4b4b;
}
#headline {
  background: #54c4cf;
}
#headline h3 {
  color: #fff;
  font-size: 1.5em;
}
.blog-post h1 {
  color: #6c6e71;
}
.blog-post .post-meta {
  color: #aaa;
}
.blog-post .post-meta h3 a {
  color: #517e93;
}
.blog-post .social {
  top: 225px;
  margin-left: -115px;
}
.post-date {
  background: #eaeaea;
  color: #4b4b4b;
}
.read-more {
  background-color: #54c4cf;
  color: #fff;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  -ms-transition: 0.2s all;
  transition: 0.2s all;
}
.read-more:hover {
  background-color: #6c6e71;
}
footer #bottom-footer {
  background-color: #27282c;
}
footer #top-footer {
  background-color: #54c4cf;
  color: #fff;
}
footer #top-footer h3,
footer #top-footer a {
  color: #fff;
}
footer #top-footer #social-icons li a {
  background-color: #54c4cf;
}
footer #top-footer #social-icons li a:hover {
  color: #6c6e71;
}
#scroll-top input[type="submit"] {
  background-color: #54c4cf;
  color: #fff;
}
#scroll-top input[type="submit"]:hover {
  background-color: #177c90;
}
#scroll-top a:hover {
  background-color: #54c4cf;
  color: #fff;
}
#comments .comment-form input[type="submit"] {
  background-color: #54c4cf;
  color: #fff;
}
#comments .comment-form input[type="submit"]:hover {
  background-color: #6c6e71;
}
#comments .comment-reply-link {
  background-color: #54c4cf;
  color: #fff;
}
#comments .comment-reply-link:hover {
  background-color: #6c6e71;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #4b4b4b;
  line-height: 1.7em;
}
/* Scroll to top */
#scroll-top a {
  background: #6c6e71;
}
#scroll-top a i {
  color: #fff;
}
#scroll-top a:hover {
  background-color: #20819a;
}
#scroll-top a:hover i {
  color: #fff;
}
input[type="submit"] {
  background-color: #54c4cf;
  color: #fff;
}
input[type="submit"]:hover {
  background-color: #6c6e71;
}
