/* Base */
body {
  background-color: #f8f8fa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #4B4B4B;
  line-height: 1.7em;
}
h1, h2, h3, h4 { color: #4B4B4B; }
a { color: #a9d046; }
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.35em; }

/* Header */
#top-header { background-color: #fff; }
#top-header #primary-nav ul li.current_page_item a { background-color: #a9d046; color: #FFF; }
#top-header #primary-nav ul li a { color: #a9d046; }
#top-header #primary-nav ul li a:hover { background-color: #ddd; }
#about-subscribe { background-color: #a9d046; }
#about-subscribe h2 { color: #FFF; text-transform: uppercase; font-size: 1.2em; }
#headline { background: #a9d046; }
#headline h3 { color: #FFF; font-size: 1.2em; }

/* Post */
.blog-post .post-meta { color: #AAA; }
.blog-post h3 a { color: #91B141; }
.post-date {
  background: #eaeaea;
  background: -moz-linear-gradient(-45deg,  #eaeaea 0%, #eaeaea 50%, #dddddd 51%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#eaeaea), color-stop(50%,#eaeaea), color-stop(51%,#dddddd), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #eaeaea 0%,#eaeaea 50%,#dddddd 51%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #eaeaea 0%,#eaeaea 50%,#dddddd 51%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #eaeaea 0%,#eaeaea 50%,#dddddd 51%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(135deg,  #eaeaea 0%,#eaeaea 50%,#dddddd 51%,#dddddd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#dddddd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #6B6B6B;
}
.read-more {
  background-color: #EAEAEA;
  color: #91B141;
}
.read-more:hover {
  background-color: #a9d046;
  color: #FFF;
}

/* Footer */
footer #top-footer { background-color: #606055; color: #FFF; }
footer #top-footer #social-icons li a, #top-footer h3, #top-footer a { color: #FFF; }
footer #top-footer #social-icons li a:hover { color: #a9d046; }
footer #bottom-footer { background-color: #27282C; color: #FFF; }

/* Buttons */
input[type="submit"],
#comments .comment-reply-link {
  background-color: #a9d046;
  color: #FFF;
}
input[type="submit"]:hover,
#comments .comment-reply-link:hover {
  background-color: #91B141;
}

/* Scroll to top */
#scroll-top a { background: #a9d046; }
#scroll-top a:hover { background-color: #91B141; }
#scroll-top a i { color: #FFF; }
#scroll-top a:hover i { color: #FFF; }

/* Custom */
#top-header #primary-nav { padding: 25px 0; }
@media (max-width: 767px) { #top-header #primary-nav { padding: 0 !important; } }