#comments
  .comment-form
    input[type="submit"]
      background-color default-color
      color white
      &:hover
        background-color secondary-color
  .comment-reply-link
    background-color default-color
    color #FFF
    &:hover
      background-color secondary-color