footer
  #bottom-footer
    background-color #27282C
    background-color default-color
  #top-footer
    background-color default-color 
    color #FFF 
    h3, a
      color #fff
    #social-icons
      li
        a
          background-color default-color
          &:hover
            color #1f5964 
          