#top-header
  border-bottom 2px solid default-color
  if bg-top is defined
    background url(bg-top) repeat
  else
    background-color #fff
  #primary-nav
    ul
      li
        background-color default-color
        transition .2s all
        ul
          display none
        a
          color #fff
        &:hover
          background-color secondary-color
          ul
            display block
            position absolute
            border-top 1px solid content-color
            li
              display block
              text-align left

#about-subscribe
  background-color #fff
  h2
    color content-text-color

#headline
  background default-color
  h3
    color #FFF
    font-size 1.5em

.blog-post
  h1
    color secondary-color
  .post-meta
    color #AAA
    h3
      a
        color #517E93
  .social
    top 225px
    margin-left -115px