.post-date
  background #eaeaea
  background-linear-gradient(-45deg, #eaeaea, 0%, #eaeaea, 50%, left top, left bottom)
  color content-text-color

.read-more 
  background-color default-color
  color #fff
  transition .2s all
  &:hover
    background-color secondary-color
