.post-date
  background: #eaeaea
  background-linear-gradient(-45deg, #eaeaea, 0%, #eaeaea, 50%, left top, left bottom)
  color: content-text-color

.read-more 
  background-color: #EAEAEA
  color: default-color

.read-more:hover 
  background-color: default-color
  color: #FFF

